In [1]:
##for showing all outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np
shoppers_data=pd.read_csv('Online Shoppers Intention.csv')
shoppers_data.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0.0,-1.0,0.0,-1.0,1.0,-1.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0.0,0.0,0.0,0.0,2.0,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0.0,0.0,0.0,0.0,10.0,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [3]:
shoppers_data['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [4]:
d = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'June':6, 'Jul':7, 'Aug':8, 'Sep':8, 'Dec':12 }
shoppers_data.Month = shoppers_data.Month.map(d)

In [5]:
shoppers_data.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.20,0.20,0.0,0.0,2.0,1,1,1,1,Returning_Visitor,False,False
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.00,0.10,0.0,0.0,2.0,2,2,1,2,Returning_Visitor,False,False
2,0.0,-1.0,0.0,-1.0,1.0,-1.000000,0.20,0.20,0.0,0.0,2.0,4,1,9,3,Returning_Visitor,False,False
3,0.0,0.0,0.0,0.0,2.0,2.666667,0.05,0.14,0.0,0.0,2.0,3,2,2,4,Returning_Visitor,False,False
4,0.0,0.0,0.0,0.0,10.0,627.500000,0.02,0.05,0.0,0.0,2.0,3,3,1,4,Returning_Visitor,True,False

In [6]:
shoppers_data['Month'].isnull().sum()

3547

In [7]:
shoppers_data.loc[(shoppers_data['Weekend'] == True), 'Weekend'] = 1
shoppers_data.loc[(shoppers_data['Weekend'] == False), 'Weekend'] = 0
shoppers_data.loc[(shoppers_data['Revenue'] == True), 'Revenue'] = 1
shoppers_data.loc[(shoppers_data['Revenue'] == False), 'Revenue'] = 0

In [8]:
shoppers_data.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.20,0.20,0.0,0.0,2.0,1,1,1,1,Returning_Visitor,0,0
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.00,0.10,0.0,0.0,2.0,2,2,1,2,Returning_Visitor,0,0
2,0.0,-1.0,0.0,-1.0,1.0,-1.000000,0.20,0.20,0.0,0.0,2.0,4,1,9,3,Returning_Visitor,0,0
3,0.0,0.0,0.0,0.0,2.0,2.666667,0.05,0.14,0.0,0.0,2.0,3,2,2,4,Returning_Visitor,0,0
4,0.0,0.0,0.0,0.0,10.0,627.500000,0.02,0.05,0.0,0.0,2.0,3,3,1,4,Returning_Visitor,1,0

In [9]:
d1 = {'Returning_Visitor':0, 'New_Visitor':1, 'Other':2}
shoppers_data.VisitorType = shoppers_data.VisitorType.map(d1)

In [10]:
shoppers_data.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0.0,0.0,0.0,0.0,1.0,0.000000,0.20,0.20,0.0,0.0,2.0,1,1,1,1,0,0,0
1,0.0,0.0,0.0,0.0,2.0,64.000000,0.00,0.10,0.0,0.0,2.0,2,2,1,2,0,0,0
2,0.0,-1.0,0.0,-1.0,1.0,-1.000000,0.20,0.20,0.0,0.0,2.0,4,1,9,3,0,0,0
3,0.0,0.0,0.0,0.0,2.0,2.666667,0.05,0.14,0.0,0.0,2.0,3,2,2,4,0,0,0
4,0.0,0.0,0.0,0.0,10.0,627.500000,0.02,0.05,0.0,0.0,2.0,3,3,1,4,0,1,0

In [11]:
shoppers_data.groupby('VisitorType').size()

VisitorType
0    10551
1     1694
2       85
dtype: int64

In [12]:
import pandas as pd
import numpy as np
Friday_data=pd.read_csv('black_friday.csv')
Friday_data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,NaN,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,NaN,578
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,NaN,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,NaN,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,NaN,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,NaN,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,NaN,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,NaN,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [13]:
Friday_data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [14]:
Friday_data.drop('User_ID', axis=1, inplace=True)
Friday_data.drop('Product_ID', axis=1, inplace=True)
Friday_data.drop('Product_Category_2', axis=1, inplace=True)
Friday_data.drop('Product_Category_3', axis=1, inplace=True)

In [15]:
Friday_data.loc[(Friday_data['Gender'] == 'F'), 'Gender'] = 0
Friday_data.loc[(Friday_data['Gender'] == 'M'), 'Gender'] = 1

In [16]:
Friday_data['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [17]:
#Friday_data.loc[(Friday_data['Age'] == '0-17'), 'Age'] = 0
#Friday_data.loc[(Friday_data['Age'] == '18-25'), 'Age'] = 1
#Friday_data.loc[(Friday_data['Age'] == '26-35'), 'Age'] = 2
#Friday_data.loc[(Friday_data['Age'] == '36-45'), 'Age'] = 3
#Friday_data.loc[(Friday_data['Age'] == '46-50'), 'Age'] = 4
#Friday_data.loc[(Friday_data['Age'] == '51-55'), 'Age'] = 5
#Friday_data.loc[(Friday_data['Age'] == '55+'), 'Age'] = 6

In [18]:
d1 = {'0-17':0, '18-25':1, '26-35':2,'36-45':3,'46-50':4,'51-55':5,'55+':6}
Friday_data.Age = Friday_data.Age.map(d1)

In [19]:
Friday_data

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,0,0,10,A,2,0,3,8370
1,0,0,10,A,2,0,1,15200
2,0,0,10,A,2,0,12,1422
3,0,0,10,A,2,0,12,1057
4,1,6,16,C,4+,0,8,7969
5,1,2,15,A,3,0,1,15227
6,1,4,7,B,2,1,1,19215
7,1,4,7,B,2,1,1,15854
8,1,4,7,B,2,1,1,15686
9,1,2,20,A,1,1,8,7871
10,1,2,20,A,1,1,5,5254
11,1,2,20,A,1,1,8,3957
12,1,2,20,A,1,1,8,6073
13,1,2,20,A,1,1,1,15665
14,0,5,9,A,1,0,5,5378
15,0,5,9,A,1,0,4,2079
16,0,5,9,A,1,0,2,13055
17,0,5,9,A,1,0,5,8851
18,1,3,1,B,1,1,1,11788
19,1,2,12,C,4+,1,1,19614
20,1,2,12,C,4+,1,5,8584
21,1,2,12,C,4+,1,8,9872
22,1,2,12,C,4+,1,8,9743
23,1,2,12,C,4+,1,8,5982
24,1,2,12,C,4+,1,1,11927
25,1,2,17,C,0,0,6,16662
26,1,2,17,C,0,0,8,5887
27,1,2,17,C,0,0,5,6973
28,1,2,17,C,0,0,5,5391
29,0,3,1,B,4+,1,2,16352
...,...,...,...,...,...,...,...,...
537547,1,1,18,C,1,0,1,11543
537548,1,5,1,B,1,1,15,20924
537549,1,5,1,B,1,1,2,13082
537550,1,4,3,C,3,0,1,11658
537551,1,4,3,C,3,0,5,6863
537552,1,4,3,C,3,0,6,16415
537553,1,4,3,C,3,0,10,18526
537554,1,4,3,C,3,0,5,7099
537555,1,4,3,C,3,0,13,578
537556,1,1,20,A,1,1,8,2183
537557,1,1,20,A,1,1,2,12724
537558,1,1,20,A,1,1,8,7796
537559,1,1,20,A,1,1,8,7770
537560,1,1,20,A,1,1,8,5940
537561,1,1,20,A,1,1,8,7834
537562,1,1,20,A,1,1,1,11508
537563,1,1,20,A,1,1,8,6074
537564,1,1,20,A,1,1,5,7084
537565,1,1,20,A,1,1,8,7934
537566,1,1,20,A,1,1,5,5350
537567,1,1,20,A,1,1,8,1994
537568,1,1,20,A,1,1,11,5930
537569,1,1,20,A,1,1,5,7042
537570,1,1,20,A,1,1,1,15491
537571,1,3,16,C,1,0,1,11852
537572,1,3,16,C,1,0,1,11664
537573,1,3,16,C,1,0,1,19196
537574,1,3,16,C,1,0,8,8043
537575,1,3,16,C,1,0,5,7172
537576,1,3,16,C,1,0,5,6875

In [20]:
Friday_data['Occupation'].unique()

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [21]:
#transforming occupation

Friday_data["Occupation"] = Friday_data["Occupation"].astype('category',Friday_data['Occupation'].unique())

# now call .get_dummies() as usual

Friday_data = pd.concat([Friday_data,pd.get_dummies(Friday_data['Occupation'], prefix='Occupation',dummy_na=True)],axis=1).drop(['Occupation'],axis=1)

In [22]:
Friday_data['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [23]:
#transforming occupation

Friday_data["City_Category"] = Friday_data["City_Category"].astype('category',categories=Friday_data['City_Category'].unique())

# now call .get_dummies() as usual
Friday_data = pd.concat([Friday_data,pd.get_dummies(Friday_data['City_Category'], prefix='City_Category',dummy_na=True)],axis=1).drop(['City_Category'],axis=1)

C:\Users\jayjay\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
Friday_data['Marital_Status'].unique()

array([0, 1], dtype=int64)

In [25]:
Friday_data['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [26]:
Friday_data.loc[(Friday_data['Stay_In_Current_City_Years'] == '0'), 'Stay_In_Current_City_Years'] = 0
Friday_data.loc[(Friday_data['Stay_In_Current_City_Years'] == 1), 'Stay_In_Current_City_Years'] = 1
Friday_data.loc[(Friday_data['Stay_In_Current_City_Years'] == '4+'), 'Stay_In_Current_City_Years'] = 4

In [27]:
#transforming occupation

Friday_data["Product_Category_1"] = Friday_data["Product_Category_1"].astype('category',categories=Friday_data['Product_Category_1'].unique())

# now call .get_dummies() as usual
Friday_data = pd.concat([Friday_data,pd.get_dummies(Friday_data['Product_Category_1'], prefix='Product_Category_1',dummy_na=True)],axis=1).drop(['Product_Category_1'],axis=1)

C:\Users\jayjay\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
Friday_data.drop('Product_Category_1_nan', axis=1, inplace=True)
Friday_data.drop('Occupation_nan', axis=1, inplace=True)
Friday_data.drop('City_Category_nan', axis=1, inplace=True)

In [29]:
Friday_data.shape

(537577, 47)

In [30]:
Friday_data

,Gender,Age,Stay_In_Current_City_Years,Marital_Status,Purchase,Occupation_0.0,Occupation_1.0,Occupation_2.0,Occupation_3.0,Occupation_4.0,...,Product_Category_1_14.0,Product_Category_1_11.0,Product_Category_1_13.0,Product_Category_1_15.0,Product_Category_1_7.0,Product_Category_1_16.0,Product_Category_1_18.0,Product_Category_1_10.0,Product_Category_1_17.0,Product_Category_1_9.0
0,0,0,2,0,8370,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,2,0,15200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,2,0,1422,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,2,0,1057,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,6,4,0,7969,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,2,3,0,15227,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,4,2,1,19215,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,4,2,1,15854,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,4,2,1,15686,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,2,1,1,7871,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,2,1,1,5254,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,2,1,1,3957,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,2,1,1,6073,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,2,1,1,15665,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,5,1,0,5378,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,5,1,0,2079,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,5,1,0,13055,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,5,1,0,8851,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,3,1,1,11788,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1,2,4,1,19614,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1,2,4,1,8584,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,2,4,1,9872,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,2,4,1,9743,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,2,4,1,5982,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,2,4,1,11927,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,1,2,0,0,16662,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,1,2,0,0,5887,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,1,2,0,0,6973,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,1,2,0,0,5391,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,3,4,1,16352,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1,1,1,0,11543,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537548,1,5,1,1,20924,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
537549,1,5,1,1,13082,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537550,1,4,3,0,11658,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
537551,1,4,3,0,6863,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
537552,1,4,3,0,16415,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
537553,1,4,3,0,18526,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
537554,1,4,3,0,7099,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
537555,1,4,3,0,578,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
537556,1,1,1,1,2183,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537557,1,1,1,1,12724,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537558,1,1,1,1,7796,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537559,1,1,1,1,7770,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537560,1,1,1,1,5940,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537561,1,1,1,1,7834,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537562,1,1,1,1,11508,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537563,1,1,1,1,6074,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537564,1,1,1,1,7084,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537565,1,1,1,1,7934,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537566,1,1,1,1,5350,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537567,1,1,1,1,1994,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537568,1,1,1,1,5930,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
537569,1,1,1,1,7042,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537570,1,1,1,1,15491,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537571,1,3,1,0,11852,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537572,1,3,1,0,11664,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537573,1,3,1,0,19196,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537574,1,3,1,0,8043,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537575,1,3,1,0,7172,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537576,1,3,1,0,6875,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
feature_cols=['Gender',
 'Age',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Occupation_0.0',
 'Occupation_1.0',
 'Occupation_2.0',
 'Occupation_3.0',
 'Occupation_4.0',
 'Occupation_5.0',
 'Occupation_6.0',
 'Occupation_7.0',
 'Occupation_8.0',
 'Occupation_9.0',
 'Occupation_10.0',
 'Occupation_11.0',
 'Occupation_12.0',
 'Occupation_13.0',
 'Occupation_14.0',
 'Occupation_15.0',
 'Occupation_16.0',
 'Occupation_17.0',
 'Occupation_18.0',
 'Occupation_19.0',
 'Occupation_20.0',
 'City_Category_A',
 'City_Category_C',
 'City_Category_B',
 'Product_Category_1_3.0',
 'Product_Category_1_1.0',
 'Product_Category_1_12.0',
 'Product_Category_1_8.0',
 'Product_Category_1_5.0',
 'Product_Category_1_4.0',
 'Product_Category_1_2.0',
 'Product_Category_1_6.0',
 'Product_Category_1_14.0',
 'Product_Category_1_11.0',
 'Product_Category_1_13.0',
 'Product_Category_1_15.0',
 'Product_Category_1_7.0',
 'Product_Category_1_16.0',
 'Product_Category_1_18.0',
 'Product_Category_1_10.0',
 'Product_Category_1_17.0',
 'Product_Category_1_9.0']

In [32]:
#split dataset in features and target variable
#feature_cols = ['Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status','Product_Category_1','Purchase']
#data_final_vars=Friday_data.columns.values.tolist()
K=['Purchase']
#X=[i for i in data_final_vars if i not in K]
X = Friday_data[feature_cols] # Features
y = Friday_data.Purchase # Target variable

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [33]:
np.random.seed(0)

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_NEW = sc.fit_transform(X_train)
scaled_features_train_x = pd.DataFrame(X_train_NEW,columns=feature_cols)

C:\Users\jayjay\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\jayjay\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [35]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
#sc = StandardScaler()
X_test_NEW = sc.transform(X_test)
scaled_features_test_x = pd.DataFrame(X_test_NEW,columns=feature_cols)

C:\Users\jayjay\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, object were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [36]:
#Train score
from sklearn import metrics
from sklearn.metrics import r2_score
linreg = LinearRegression()

linreg.fit(scaled_features_train_x, y_train)

Y_pred_train = linreg.predict(scaled_features_train_x)

linreg.score(scaled_features_train_x, y_train)
r2_score(y_train, Y_pred_train)
#np.sqrt(metrics.mean_squared_error(y_train, Y_pred_train))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

0.6296325753997418

0.6296325753997418

In [37]:
#Test score
Y_pred_test = linreg.predict(scaled_features_test_x)

linreg.score(scaled_features_test_x, y_test)
r2_score(y_test, Y_pred_test)
#np.sqrt(metrics.mean_squared_error(y_test, Y_pred_test))

0.6352900359608615

0.6352900359608615

In [38]:
linreg.intercept_

9332.493981948257

In [39]:
from sklearn.linear_model import Ridge
alphas=[0.01, 0.1, 1, 10]

for a in alphas:
    ridge = Ridge(alpha=a, random_state = 0)
    ridge.fit(scaled_features_train_x, y_train)
    Ridge_train_score = ridge.score(scaled_features_train_x,y_train)
    Ridge_test_score = ridge.score(scaled_features_test_x, y_test)
    Ridge_train_score
    Ridge_test_score
    a

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=0, solver='auto', tol=0.001)

0.6296397406050107

0.6352958655632843

0.01

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=0, solver='auto', tol=0.001)

0.6296397406049823

0.6352958649190674

0.1

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=0, solver='auto', tol=0.001)

0.62963974060212

0.6352958584743219

1

Ridge(alpha=10, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=0, solver='auto', tol=0.001)

0.6296397403159042

0.6352957937693555

10

In [40]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=10, max_iter=10000,random_state=0)
lasso.fit(scaled_features_train_x, y_train)
train_score=lasso.score(scaled_features_train_x,y_train)
test_score=lasso.score(scaled_features_test_x, y_test)
coeff_used = np.sum(lasso.coef_!=0)
train_score 
test_score
coeff_used

Lasso(alpha=10, copy_X=True, fit_intercept=True, max_iter=10000,
   normalize=False, positive=False, precompute=False, random_state=0,
   selection='cyclic', tol=0.0001, warm_start=False)

0.629493237781181

0.6350798681230034

36

In [41]:
lasso

Lasso(alpha=10, copy_X=True, fit_intercept=True, max_iter=10000,
   normalize=False, positive=False, precompute=False, random_state=0,
   selection='cyclic', tol=0.0001, warm_start=False)

In [42]:
#Applying PolynomialFeatures
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
a_poly = poly.fit_transform(scaled_features_train_x)
#a_poly

In [43]:
a_poly.shape

(403182, 1128)